input{
  margin-bottom: 200px;
  text-align: center;
 padding: 10px;
 width: 400px;
 border-radius: 15px;
 margin-left: 32%;
 font-size: 24px;
}
button{
  color: rgb(156, 9, 9);
  background-color: rgb(228, 167, 87);
  padding: 15px;
  border-radius: 10px;
}
*{
  color: azure;
  background-color:rgb(223, 240, 128);
}
